.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  &__input {
    background-color: #2b2a33;
    color: rgba(255, 255, 255, 0.87);
    border: none;
    border-radius: 4px;
    padding: 8px;
  }

  &__error {
    color: #bf1650;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  &__error::before {
    display: inline;
    content: '⚠ ';
  }

  &_btn {
    background-color: #bf1650;
    border: none;
    border-radius: 4px;
    height: 2rem;
  }

  &_btn:hover {
    background-color: #bf1651a5;
    cursor: pointer;
  }
}
